ANSIBLE_VERSION  = "latest"
AWS_AZ           = "us-west-2a"
AWS_REGION       = "us-west-2"
CLUSTERNAME      = "octosporkfish"
CQ_ALIAS         = "octosporkfish"
CQ_USERNAME      = "octo.jelly@gmail.com"
DOCKER_VERSION   = "latest"
INSTANCE_TYPE    = "t2.micro"
ami_id           = 1234567890
instance_count   = 1
mydept           = "Solutions Engineering"
myenv            = "customer-octospork-labs-1"
myname           = "AMAZONlinux2"
myorg            = "https://{insert your company domain here}"
mystack          = "SE Demo"
private_key_path = "~/.ssh/{regional private key file}.pem"
public_key_path  = "~/.ssh/{regional public key file}.pub"
project_name     = "{your project name}"
access_key       = "{your AWS access key}"
secret_key       = "{your AWS secret key}"
ssh_user         = "ec2-user"
client           = "jumpserver"
